<section class="products-container">
  <h2>Our Products</h2>

  <section class="products-cards-container">
    @for (product of products; track $index) {
    <div class="img-content-card-container">
      <div class="product-card-container">
        <div class="product-card-img">
          <img [src]="product.image" [alt]="product.title" />
        </div>

        <div class="overlay">
          <button class="add-to-cart-btn">Add to cart</button>
          <p class="wishlist-btn"><span class="material-icons">favorite_border</span>Like</p>
        </div>

        <div class="card-content">
          <p class="product-title">{{ product.title }}</p>
          <p class="product-desc">{{ product.desc }}</p>
          <p class="price">${{ product.price }}</p>
        </div>

        @if (product.isNew) {
        <div class="sticker-new">New</div>
        } @if (product.discount) {
        <div class="sticker-discount">-{{ product.discount }}%</div>
        }
      </div>
    </div>
    }
  </section>

  <button class="show-more-btn">Show More</button>
</section>
