.products-container {
  text-align: center;
  margin-top: 15em;
}

.products-container h2 {
  color: #3a3a3a;
  font-size: 2em;
  font-weight: bold;
}

.products-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 0 2em;
  margin-top: 3em;
}

.product-card-container {
  position: relative;
  width: 280px;
}

.img-content-card-container {
  width: 280px;
}

.product-card-img img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

.sticker-new,
.sticker-discount {
  background-color: #2ec1ac;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 15px;
  font-weight: 600;
}

.sticker-discount {
  background-color: #e97171;
  font-size: 0.9em;
}

.sticker-new {
  font-size: 0.9em;
}

.card-content {
  background-color: #f4f5f7;
  text-align: left;
  padding: 1em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 170px;
}

.product-title {
  font-size: 1.3em;
  font-weight: 600;
}

.product-desc {
  color: #898989;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-weight: 600;
}

.overlay {
  background-color: #3a3a3a;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.add-to-cart-btn {
  position: relative;
  z-index: 55555;
  background-color: white;
  color: #b88e2f;
  border: none;
  width: 200px;
  height: 48px;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}

.wishlist-btn {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: white;
  margin-top: 0.5em;
}

.show-more-btn {
  margin-top: 10em;
  background-color: transparent;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  width: 220px;
  height: 48px;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
