.fav-table {
  width: 100%;
  border-collapse: collapse;
}

table.table thead.table-header tr th {
  background-color: rgba(255, 243, 227, 0.85) !important;
  color: #444 !important;
}
.fav-table th,
.fav-table td {
  vertical-align: middle !important;
  text-align: center;
}
.fav-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;

}

.product-name {
  font-weight: 500;
  color: #222;
}

.summary-card {
  background-color: rgba(255, 243, 227, 0.85);
  border-radius: 12px;
  padding: 25px;
color: #444 !important;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.total {
  font-weight: 600;
  color: #b88e2f;
}

.empty-msg {
  font-size: 1.2rem;
  color: #777;
  background-color: rgba(255, 243, 227, 0.85);
  padding: 40px;
}

.btn-warning {
  background-color: #b88e2f;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 0;
}

.btn-warning:hover {
  background-color: #a27e28;
}

.btn-outline-danger {
  border: 1px solid #b88e2f;
  color: #b88e2f;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: #b88e2f;
  color: white;
}

.quantity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.qty-btn {
  background-color: #f8f4ec;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 1;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.qty-btn:hover {
  background-color: #e8dcc3;
}

.qty-value {
  font-size: 1rem;
  font-weight: 500;
  min-width: 25px;
  text-align: center;
}

.fav-table td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}