<div class="container-fluid min-vh-100">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button mat-stroked-button class="login-btn mt-3 me-3 mb-2"  >
                log in
            </button>
        </div>
    </div>
    <div class="row h-100 align-items-center">
        <div class="col-sm-12 col-md-6 flex flex-column justify-content-center px-4 px-md-5 left-section">
                <div class="left-section-content ">
                    <h1 class="mb-3 title">Explore the world to experience the beauty of nature</h1>
                <p class="mb-4 subtitle text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis maximus
                </p>
                <button mat-stroked-button class="social-btn  w-100 mb-2 icon"  >
                    <img src="google.svg" alt="Google" />
                    Continue with Google
                </button>
                <button mat-stroked-button class=" social-btn w-100 mb-2 icon" >
                    <img src="facebook.svg" alt="Facebook" />
                    Continue with Facebook
                </button>
                <button mat-stroked-button class="social-btn  w-100 mb-3 icon" >
                    <img src="github.svg" alt="Apple" />
                    Continue with Github
                </button>

                <div class="divider d-flex align-items-center my-3">
                    <hr class="flex-grow-1" />
                    <span class="px-2 text-muted">OR</span>
                    <hr class="flex-grow-1" />
                </div>

                <button mat-raised-button class="email-btn w-100 mb-3">
                    Sign up with email
                </button>

                <p class="terms text-center">
                    By signing up, you agree to the 
                    <a href="#">Terms of Service</a> and 
                    <a href="#">Privacy Policy</a>, including cookie use.
                </p>
                </div>
            </div>
            <div class=" col-md-6 d-none d-md-block p-0 overflow-hidden ">
                <img src="2.jpg" alt="" class="img-fluid w-100 h-100 object-fit-cover">
            </div>
    </div>

</div>

