<!-- Navbar Container -->
<header class="navbar-container">

  <!-- Logo Section -->
  <div class="logo">
    <a routerLink="/">
      <img src="Log.png" alt="Furniro Logo" width="50" height="50" />
    </a>
    <span>Furniro</span>
  </div>

  <!-- Navigation Links -->
  <nav class="nav-links" [class.active]="showMenu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()">Home</a>
    <a routerLink="/shop" routerLinkActive="active" (click)="toggleMenu()">Shop</a>
    <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">About</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a>

    <div class="nav-icons">
      <i class="fa-regular fa-heart"></i>
      <i class="fa-solid fa-cart-shopping"></i>
      <i class="fa-solid fa-gauge"></i>
    </div>
  </nav>

  <i class="fa-solid fa-bars menu-toggle" (click)="toggleMenu()"></i>

</header>
