.modal-header {
  background-color: #f9f1e7;
}

.save-changes-btn {
  background-color: black;
  color: white;
}

.modal-header {
  background-color: #024554;
  color: white;
}

.add-product-btn {
  background-color: #024554;
  color: white;
}
