<section class="productDetail-section" *ngIf="product">
    <div class="container mt-5 p-5 " style="background-color: rgb(246, 246, 246);">
        <div class="row  align-items-center">

            <div class="col-md-5 w-md-50 mb-4 mb-md-0 me-3">

                <img [src]="product.imgURL" [alt]="product.title" class="img-fluid rounded mb-3 product-image w-100"
                    id="mainImage">
            </div>


            <div class="col-md-6 ">
                <h2 class="mb-3">{{ product.name }}</h2>

                <div class="mb-3">
                    <span class="h4 me-2">${{product.price - (product.price* product.discount/100 )}}</span>
                    @if (product.discount) {
                    <span class="text-muted"><s>${{product.price}}</s></span>}
                </div>

                <div class="mb-3">
                    <i class="bi bi-star-fill" style="color: #B88E2F;" *ngIf="getAverageRating() >= 1"></i>
                    <i class="bi bi-star-fill" style="color: #B88E2F;" *ngIf="getAverageRating() >= 2"></i>
                    <i class="bi bi-star-fill" style="color: #B88E2F;" *ngIf="getAverageRating() >= 3"></i>
                    <i class="bi bi-star-fill" style="color: #B88E2F;" *ngIf="getAverageRating() >= 4"></i>
                    <i class="bi bi-star-fill" style="color: #B88E2F;" *ngIf="getAverageRating() >= 5"></i>

                    <span class="ms-2">{{ (getAverageRating() /5 > 0)?getAverageRating() /5:"no rating"}}</span>
                </div>


                <p class="mb-4">{{ product.desc }}</p>


                <div class="mb-4">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" min="1" [(ngModel)]="quantity"
                        style="width: 80px;">
                </div>

                <button class="btn btn-outline-light btn-lg mb-3 me-2" style="background-color: #B88E2F;"
                    (click)="toggleCart()">
                    <i class="bi bi-cart-plus"></i> {{ cart ? 'Delete from Cart' : 'Add to Cart' }}
                </button>



                <button class="btn btn-lg mb-3" [ngClass]="wishlist ? 'btn-danger' : 'btn-outline-danger'"
                    (click)="toggleWishlist()">

                    <i class="bi bi-heart"></i> {{ wishlist ? 'Delete from Wishlist' : 'Add to Wishlist' }}
                </button>

            </div>
        </div>
    </div>
</section>





<app-product-review [productImg]="product? product.imgURL:''" [productId]="productId" [reviewLst]="allReviews"
    [rating]="getAverageRating()"></app-product-review>