<div
  class="modal fade"
  id="editCategoryModal"
  tabindex="-1"
  aria-labelledby="editCategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        @if (category) {
        <form>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Name</label>
            <input
              type="text"
              id="categoryName"
              class="form-control"
              [(ngModel)]="category.name"
              name="name"
              required
            />
          </div>

          @if (category.imgURL) {
          <div class="mb-3 text-center">
            <img
              [src]="category.imgURL"
              alt="Current Category Image"
              class="img-fluid rounded mb-2"
              style="max-height: 150px; border: 1px solid #ddd"
            />
          </div>
          }

          <div class="mb-3">
            <label for="categoryImage" class="form-label">Change Image</label>
            <input
              type="file"
              id="categoryImage"
              class="form-control"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        </form>
        }
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary edit-category-btn" (click)="updateCategory()">Edit Category</button>
      </div>
    </div>
  </div>
</div>
