<section class="banner-container">
  <div class="advantages-container">
    <img src="trophy 1.png" alt="an icon of a cup" />
    <div class="features-content">
      <p class="main-feature">High Quality</p>
      <p class="sub">crafted from top materials</p>
    </div>
  </div>

  <div class="advantages-container">
    <img src="guarantee.png" alt="an icon of a circle with a check mark in it " />
    <div class="features-content">
      <p class="main-feature">Warranty Protection</p>
      <p class="sub">Over 2 years</p>
    </div>
  </div>

  <div class="advantages-container">
    <img src="Vector.png" alt="an image of a hand holding a box" />
    <div class="features-content">
      <p class="main-feature">Free Shipping</p>
      <p class="sub">Order over 150 $</p>
    </div>
  </div>

  <div class="advantages-container">
    <img src="customer-support.png" alt="an image of a person wearning headphones" />
    <div class="features-content">
      <p class="main-feature">24 / 7 Support</p>
      <p class="sub">Dedicated support</p>
    </div>
  </div>
</section>
